/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
   background-color: yellow;
   display: inline-block;
   width: 250px;
   height: 250px;
   font-family: cursive;
   font-size: medium;
   margin: 24px;
   padding: 24px;
   vertical-align: top;
   box-shadow: 4px 4px 4px;
}